NEXT_PUBLIC_FIREBASE_API_KEY=YOUR_WEB_API_KEY
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=cbdev-a74dc.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=cbdev-a74dc
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=cbdev-a74dc.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=95663293861
NEXT_PUBLIC_FIREBASE_APP_ID=YOUR_APP_ID
