rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    function signedIn() {
      return request.auth != null;
    }

    function userDoc() {
      return firestore.get(/databases/(default)/documents/users/$(request.auth.uid));
    }

    function activeUser() {
      return signedIn() && userDoc().data.active == true;
    }

    function isAdmin() {
      return activeUser() && userDoc().data.role == "admin";
    }

    function isEmployee() {
      return activeUser() && userDoc().data.role == "empleado";
    }

    match /course-thumbnails/{uid}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn() && request.auth.uid == uid && (isAdmin() || isEmployee());
    }

    match /course-files/{courseId}/{lessonId}/{fileName} {
      allow read: if signedIn();
      allow write: if signedIn()
        && (
          isAdmin()
          || (
            isEmployee()
            && firestore.get(/databases/(default)/documents/courses/$(courseId)).data.createdBy == request.auth.uid
          )
        );
    }
  }
}
